.link {
  font-size: 2rem;
}

.p5sketch {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 3vw;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
  border-bottom: 1px solid lightslategray;
  padding-bottom: 2rem;
}

img {
  width: 50%;
}

iframe {
  width: 500px;
  height: 500px;
}

p {
  text-align: center;
  width: 35%;
  margin-top: 1rem;
  font-size: 1.3rem;
}

main {
  display: flex;
  justify-content: center;
}
