body {
  font-family: "Montserrat", sans-serif;
  color: #222;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ff8787;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
}
